<div class="palm-page-header">
  <div class="header-icon tinytwitter"></div>
	<div id="headerText" class="header-text">New Tweet</div>
</div>

<div id="scrim" class="palm-scrim" style="display:none;">
  <div id="spinner" x-mojo-element="Spinner"></div>
</div>

<div class="palm-row">
  <div class="palm-row-wrapper">  
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title" style="height:100%;">
        <div id="statusLabel" class="label">140</div>
        <div id="statusText" x-mojo-element="TextField" style="height:325px;"></div>
      </div>
    </div>    
  </div>
</div>