<div class="palm-page-header">
  <div id="profileImage" class="header-icon" style="height:48px; width:48px; border:solid 1px #666; opacity:.9;"></div>
	<div class="header-text message">
    <div id="messageHeader" class="header">
      <div>
        <a id="sender" href="#"></a>
      </div>
      <div id="createdAt" class="createdAt"></div>
    </div>
	</div>
</div>

<div class="palm-body-text message">
	<div id="text" class="text"></div>
</div>

<div id="replyButton" x-mojo-element="button"></div>