<div class="palm-row" x-mojo-tap-highlight="momentary">
  <div class="palm-row-wrapper">
		<div class="timelineItem">	
			<div class="profile-image">
				<img src="#{-user.profile_image_url}" />
			</div>
			<div class="content">				
				<div class="metadata">
					<div class="username">
						#{user.name}
					</div>
					<div class="timestamp">
						#{created_atFormatted}
					</div>					
				</div>
				<br/>
		    <div class="text">
					#{-text}
				</div>
			</div>			
		</div>
  </div>
</div>