<div class="palm-row" x-mojo-tap-highlight="momentary">
  <div class="palm-row-wrapper">
		<div class="item">	
    
			<div class="profile-image">
				<img src="#{profile_image_url}" />
			</div>
			<div class="content">				
        <div>
          <span class="username">#{name}</span>          
          <span class="text">
            (#{statuses_countFormatted})
          </span>
        </div>
		    <div class="text">
          #{locationFormatted}
        </div>
			</div>			
      
		</div>
  </div>
</div>