<div class="palm-page-header">
  <div class="header-icon tinytwitter"></div>
	<div class="header-text">  
    Preferences
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		Automatic Updates
	</div>
  <div class="palm-list">
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div id="intervalSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div id="wakeupDeviceToggle" x-mojo-element="ToggleButton"></div>
        <div class="title left">Wakeup Device</div> 
      </div>
    </div>
  </div>
</div>  

<div class="palm-group">
	<div class="palm-group-title">
		Data Cache
	</div>
  <div class="palm-list">
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div id="expiresAfterSelector" x-mojo-element="ListSelector"></div>
      </div>
    </div>
    <div class="palm-row">
      <div class="palm-row-wrapper">
        <div id="clearCacheButton" x-mojo-element="Button"></div>
      </div>
    </div>
  </div>
 </div>