<div class="palm-page-header">
  <div id="profileImage" class="header-icon" style="height:48px; width:48px; border:solid 1px #666; opacity:.9;"></div>
  <div class="header-text status">  
    <div id="statusHeader" class="header">
      <div id="userName"></div>
      <div>
        <a id="screenName" href="#"></a>
      </div>
    </div>    
  </div>
</div>

<div class="palm-body-text status"> 
  <div id="text" class="text"></div>
  <div class="metadata">
    <span id="createdAt"></span>
    from 
    <span id="source"></span>        
  </div>
</div>

