<div class="palm-page-header">
  <div class="header-icon tinytwitter"></div>
	<div id="headerText" class="header-text">Neue Botschaft</div>
</div>

<div id="scrim" class="palm-scrim" style="display:none;">
  <div id="spinner" x-mojo-element="Spinner"></div>
</div>

<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div class="label">An</div>			
        <div id="recipientText" x-mojo-element="TextField" align="left"></div>
      </div>
    </div>				
  </div>
</div>	
<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div id="messageLabel" class="label">140</div>
        <div id="messageText" x-mojo-element="TextField" align="left" style="min-height:298px;"></div>
      </div>
    </div>				
  </div>
</div>